Package: com.oveimage.tweak
Name: OverImage
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Display images as overlay on iOS 15+ with zoom, move, and toggle features
Maintainer: Developer
Author: Developer
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)
